NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_API_URL_WS=ws://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:5173
NEXT_PUBLIC_SUPABASE_REDIRECT_URL=http://localhost:5173/auth/callback
NEXT_PUBLIC_SUPABASE_PASSWORD_RESET_REDIRECT_URL=http://localhost:5173/auth/callback?next=/reset-password
GROQ_API_KEY=
ELEVEN_LABS_API_KEY=
DB_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GROQ_WHISPER_MODEL=whisper-large-v3
GROQ_LLM_MODEL=llama-3.3-70b-versatile
ELEVEN_LABS_TTS_MODEL=eleven_multilingual_v2
ELEVEN_LABS_VOICE_EMPATHIC=
ELEVEN_LABS_VOICE_TECHNICAL=
ELEVEN_LABS_VOICE_DIRECT=
JWT_SECRET=dev-secret-change-me
JWT_EXPIRATION_TIME=3600